body {
    text-align: center;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

header {
    background-color: #F15b31;
    color: white;
    padding: 30px 20px;
}

nav {
    background-color: #00a6b3;
    color: white;
    padding: 20px 0px 20px 0px;
}

main {
    width: 850px;
    margin: 35px auto;
}

h1 {
    color: #0d2c40;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

a {
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    padding: 0 20px;
    border-bottom: 2px solid transparent;

}

a:hover {
    border-bottom: 2px solid white;
}

h2 {
    color: #0d2c40;
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: "Droid Serif", serif;
    text-transform: none;
    line-height: 26px;
    font-size: 18px;
}

img {
    margin: 40px 8px;
}

footer {
    padding: 0px 20px;
    background-color: #0d2c40;
    color: white;
    font-size: 14px;
    letter-spacing: 0.8em;
    font-weight: 500;
}

footer p {
    text-transform: uppercase;
}

.copyright {
    float: left;
    font-family: 'Raleway', sans-serif;

}

button {
    background-color: #F15b31;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: none;
    color: #0d2c40;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #0d2c40;
    outline: none;
}

.message {
    float: right;
    font-family: 'Raleway', sans-serif;
}

.name {
    color:#F15b31;
    font-weight: 700;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
